<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project2.xirpl11126.sleepingalert">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bell"
        android:label="Q'Alarm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".AlarmReciever"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <activity android:name=".QuizActivity" />
        <activity android:name=".QuizActivity2" />
        <activity android:name=".QuizActivity3" />
    </application>

</manifest>